<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>GTD Merch - {{ title }}</title>
    </head>
    <body>
        <h1>Order List</h1>
        {% for order in orders %}
        <section class="order-grid-template">
                <div class="customer-details">
                    <div class="customer-name">Customer: <b>{{ order.customer.name }}</b></div>
                    <div class="customer-email">E-mail: <b><a href="mailto:{{ order.customer.email }}">{{ order.customer.email }}</a></b></div>
                    <div class="order-number">Order Number: <b>{{ order.order_number }} (<a href="/orders/{{ orders.index(order) }}">Order Details</a>)</b></div>
                    <div class="order-date">Order Date: <b>{{ order.order_date }}</b></div>
                </div>
                <section class="order-details">
                {% for product in order.basket %}
                    <div class="product-description">
                        <p>Product: <i>{{ product.item.description }}</i></p>
                    </div>
                    <div class="product-qty">
                        <p>Qty: <i>{{ product.qty }}</i> </p>
                    </div>
                    <div class="product-price">
                        <p>Price: <i>£{{ product.price }}</i></p>
                    </div>
                    {% endfor %}
                </section>
        </section>
        <section class="total-order-price">
            Total for order: <b>£{{ order.basket_total }}</b>
        </section>
        {% endfor %}
    </body>
</html>